*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/repo/
/.idea/dataSources.local.xml
/.idea/dataSources/dddc704f-cd29-4bec-92ff-ed5a936fc140.xml
/.idea/dataSources/dddc704f-cd29-4bec-92ff-ed5a936fc140/storage_v2/_src_/schema/main.uQUzAA.meta
